/* CSS RESET */
* {
  margin: 0;
  padding: 0;
}

/* Navigation Bar/     */
#navbar {
  display: flex;
  align-items: center;
}

/* Navigation Bar:logo */
#logo {
  margin: 0px 10px;
}

#logo img {
  padding: 20px;
  height: 50px;
  margin: 5px 10px;
}

#navbar {
  position: relative;
}

#navbar ul {
  display: flex;
  font-family: "Rubik", sans-serif;
}

#navbar::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-color: black;
  height: 70%;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
}

#navbar ul li {
  list-style: none;
  font-size: 20px;
}

#navbar ul li a {
  color: white;
  display: block;
  padding: 2px 10px;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: black;
  background-color: white;
  border-radius: 10px;
}

/* HOME SECTION */
#home {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  align-items: center;
  padding: 8px 200px;
}

#home::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: url("img/background1.jpg") no-repeat center center/cover;
  height: 85%;
  width: 100%;
  z-index: -2;
  opacity: 0.69;
}

#home h1 {
  text-align: center;
  color: black;
  font-family: "Rubik", sans-serif;
}

#home p {
  text-align: center;
  color: black;
  font-size: 1.3rem;
  font-family: "Rubik", sans-serif;
}

/* services  section*/
#services {
  margin: 34px;
  display: flex;
}

#services .box {
  border: 2px solid red;
  margin: 5px;
  padding: 5px;
  border-radius: 23px;
}

#services .box img {
  display: block;
  height: 100px;
  margin: auto;
}

#services .box p {
  font-family: "Rubik", sans-serif;
}

/* Utility class */
.h-primary {
  font-family: "Rubik", sans-serif;
  text-align: center;
  font-size: 4rem;
  padding: 12px;
  margin: 100px 0;
}

.h-secondary {
  font-family: "Rubik", sans-serif;
  font-size: 2.5rem;
  padding: 12px;
}

.primaryheading {
  font-size: 2.1rem;
  padding: 5px;
}

.btn {
  padding: 5px 20px;
   border: 2px solid red; 
  /* background-color: rgb(235, 196, 27);  */
  margin: 15px;
  letter-spacing: 1mm;
  border-radius: 10px;
  /* color: white; */
  font-size: 25px;
  cursor: pointer;
}

.btn:hover{
  color: red;
  border: 2px solid red;
  background-color: rgb(240, 174, 33);
}

/* Client section */
#client-section {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0px;
}

#client-section::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 100%;
  background: url('img/background2.jpg') no-repeat center center/cover;
  z-index: -1;
    opacity: 0.89;
}

.client-item {
  padding: 30px;
  margin: 24px;
}

#clients {
  display: flex;
  justify-content: center;
  align-items: center;
}

#clients img {
    height: 124px;
}
